trigger:
- main

pool:
  name: self-hosted-pool

variables:
  nodeVersion: '18.x'

steps:
# 1. Checkout source code
- checkout: self

# 2. Install Node.js
- task: NodeTool@0
  inputs:
    versionSpec: '$(nodeVersion)'
  displayName: 'Install Node.js'

# 3. Install dependencies
- script: |
    npm install
  displayName: 'Install dependencies'

# 4. Run unit tests
- script: |
    npm test -- --ci
  displayName: 'Run unit tests'

# 5. Publish test results
- task: PublishTestResults@2
  displayName: 'Publish test results'
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/test-results/junit.xml'
    failTaskOnFailedTests: true

# 6. Prepare build artifact
- script: |
    mkdir dist
    xcopy app dist\app /E /I
    xcopy assets dist\assets /E /I
    copy package.json dist\
    copy package-lock.json dist\
  displayName: 'Prepare build artifact'

# 7. Publish artifact
- task: PublishBuildArtifacts@1
  displayName: 'Publish artifact'
  inputs:
    PathtoPublish: 'dist'
    ArtifactName: 'nodejs-app'
    publishLocation: 'Container'
